* {
  font-family: Arial;
}

.container {
  max-width: 1226px;
  margin: 0 auto;
}

.header {
  background-color: #212121;
  font-weight: bold;
}

.header .container {
  max-width: 1226px;
  margin: 0 auto;
}

.header .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

.header .container .content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.header .container .content .left a {
  color: #757575;
}

.header .container .content .left a:hover {
  color: white;
}

.header .container .content .left p {
  color: #757575;
  margin: 0 20px;
}

.header .container .content .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.header .container .content .right a {
  color: #757575;
}

.header .container .content .right a:hover {
  color: white;
}

.header .container .content .right p {
  color: #757575;
  margin: 0 20px;
}

.homepage {
  background-size: 100%;
  height: 100px;
  margin-top: 0px;
}

.homepage .container {
  max-width: 1226px;
  margin: 0 auto;
}

.homepage .container .logo {
  margin-top: 20px;
}

.homepage .container .logo .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
}

.homepage .container .logo .flex img {
  width: 60px;
  border-radius: 37%;
}

.homepage .container .logo .flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .container .logo .flex ul li {
  font-size: 12px;
  margin-left: 55px;
}

.homepage .container .content .name {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .container .content .name p {
  float: left;
  font-size: 60px;
  color: black;
}

.homepage .container .content .name ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .container .content .name ul li {
  color: #A8A8A8;
  padding: 0px 30px;
}

.homepage .container .content .name ul li .button {
  width: 80px;
  height: 40px;
  background-color: orange;
  color: white;
}

.image {
  margin-top: 30px;
  position: relative;
  height: 100vh;
  background: url(/IMAGES/PC_03.jpg) no-repeat;
}

.image .content {
  position: absolute;
  left: 6%;
  top: 30%;
  width: 500px;
}

.image .content h2 {
  font-size: 70px;
  padding: 20px 0px;
}

.image .content h3 {
  font-size: 40px;
  padding: 20px 0px;
}

.image .content h4 {
  font-size: 20px;
}

.article .container .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.article .container p {
  padding: 20px 0;
}

.article .container .parameter {
  width: 300px;
  height: 150px;
  display: inline-block;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.article .container .title .content {
  font-size: 70px;
  text-align: center;
  margin-top: 30px;
}

.article .container .title .main {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 20px;
  padding: 20px 0px;
}

.nav {
  margin-top: 30px;
  position: relative;
  height: 100vh;
  background: url(/IMAGES/PC_20.jpg) no-repeat;
}

.nav .content {
  width: 600px;
  position: absolute;
  right: 6%;
  top: 20%;
  color: white;
}

.nav .content .a1 {
  font-size: 50px;
  color: black;
  padding: 10px 10px;
}

.nav .content .a2 {
  font-size: 20px;
  color: black;
  padding: 10px 10px;
}

.nav .content .a3 {
  font-size: 20px;
  color: black;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .content .a3 .a4 {
  margin-top: 40px;
  margin-left: 30px;
}

.note {
  margin-top: 40px;
  padding: 30px 0;
}

.note .a5 {
  max-width: 1600px;
  font-size: 15px;
  margin-left: 80px;
}

.contact {
  margin-top: 150px;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .container .content {
  line-height: 0px;
}

.contact .container .content p {
  font-size: 12px;
}

.contact .container .input {
  border: 1px solid #a8a8a8;
  margin-left: 50px;
  margin-right: 100px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  width: 250px;
  position: relative;
}

.contact .container .input input {
  padding: 15px;
  width: 200px;
  height: 40px;
}

.contact .container .input a {
  padding: 0 15px;
  position: absolute;
  right: 0;
  top: 32%;
}

.contact .container .input a .angle-right {
  color: #a8a8a8;
}

.contact .container .logo {
  height: 50px;
  padding: 10px;
  margin-left: 60px;
}

.contact .container .logo a .fb {
  font-size: 20px;
  color: #a8a8a8;
}

.contact .container .logo a .fb:hover {
  color: #212121;
}

footer {
  background: #212121;
  margin-top: 50px;
}

footer a {
  font-size: 12px;
  line-height: 30px;
  color: #97a1a9;
}

footer a {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

footer a:hover {
  color: white;
}

footer .top-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .top-footer .container .content {
  padding: 50px 0px;
  padding-right: 10px;
}

footer .top-footer .container .content h6 {
  font-size: 13px;
  font-weight: 100;
  line-height: 20px;
  position: relative;
  margin-bottom: 10px;
  color: #a8a8a8;
}

footer .top-footer .container .content ul li {
  width: 160px;
}

footer .top-footer .container .phone {
  padding: 50px 0px;
}

footer .top-footer .container .phone h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
  color: #a8a8a8;
}

footer .top-footer .container .phone p {
  font-size: 12px;
  line-height: 30px;
  color: #97a1a9;
}

footer .bottom-footer .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .bottom-footer .container .line {
  height: 1px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  background-color: #a8a8a8;
}

footer .bottom-footer .container h5 {
  color: #a8a8a8;
  margin: 20px 0;
}
/*# sourceMappingURL=scss3.css.map */